<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationBar</key>
	<dict>
		<key>BarTintColorRGBA</key>
		<dict>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>255</integer>
			<key>Blue</key>
			<integer>255</integer>
			<key>Alpha</key>
			<integer>255</integer>
		</dict>
		<key>TintColorRGBA</key>
		<dict>
			<key>Red</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>TopNavIconFileName</key>
	<string></string>
	<key>ContactUsEmailAddress</key>
	<string></string>
	<key>ContactUsPhoneNumber</key>
	<string></string>
	<key>ShowContactUsWebForm</key>
	<false/>
	<key>BrandId</key>
	<string></string>
</dict>
</plist>
