<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContactUsToEmailAddress</key>
	<string></string>
	<key>ContactUsPhoneNumber</key>
	<string>555-123-4567</string>
	<key>ContactUsSubject</key>
	<string></string>
	<key>ContactUsShowSubjectItem</key>
	<false/>
	<key>ContactUsShowYourNameItem</key>
	<false/>
	<key>ContactUsShowAllOptionalItems</key>
	<false/>
	<key>ContactUsShowYourEmailItem</key>
	<false/>
	<key>ContactUsStaticCustomFields</key>
	<dict>
		<key>boolKey</key>
		<true/>
		<key>dateKey</key>
		<date>2015-09-03T21:28:03Z</date>
		<key>numberKey</key>
		<integer>42</integer>
		<key>stringKey</key>
		<string>string1</string>
		<key>listKey</key>
		<string>choiceA</string>
	</dict>
	<key>BrandId</key>
	<string></string>
</dict>
</plist>
